<app-nav-menu></app-nav-menu>
<h1 style="text-align:center; font-style:italic; color:cornflowerblue; font-family:'Bookman Old Style';">Welcome to the world of Books</h1>
<div id="sect1" class="container"> </div>
<br />
<!-- Original rights are given to the owner -->
<div class="card border-primary">
  <div class="card-body">
    <a href="https://www.goodreads.com/genres/fantasy" target="_blank" rel="noreferrer">Fantacy</a>
  </div>
</div>
<br />
<div class="card border-primary">
  <div class="card-body">
    <a href="https://www.goodreads.com/shelf/show/english-history" target="_blank" rel="noreferrer">History</a>
  </div>
</div>
<br />
<div class="card border-primary">
  <div class="card-body">
    <a href="https://www.goodreads.com/genres/mystery" target="_blank" rel="noreferrer">Mystery</a>
  </div>
</div>
<br />
<div class="card border-primary">
  <div class="card-body">
    <a href="https://www.goodreads.com/genres/thriller" target="_blank" rel="noreferrer">Thriller</a>
  </div>
</div>
